html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SRLElementContainer {
  height: calc(100vh - 80px) !important;
}

@media (max-width: 768px) {
  .SRLElementContainer {
    height: calc((var(--vh, 1vh) * 100) - 80px) !important;
  }
}

.SRLCaptionContainer {
  position: absolute !important;
  bottom: 0 !important;
  height: 40px !important;
}

.SRLCaptionContainer p {
  padding: 0 !important;
}

.SRLContainer:after {
  content: "diagon";
  width: 30px;
  height: 30px;
  /* background: red
    url("http://www.gentleface.com/i/free_toolbar_icons_16x16_black.png")
    no-repeat -30px -50px fixed; */
  top: 5px;
  left: 5px;
  position: absolute;
  display: inline-block;
}
