<div class="container">
  <div class="app row clearfix">
    <div class="col-sm-4">
      <div class="row">
        <div class="sidebar right">
          <div class="overlay">
            {{#each conversations }}
            <div id="{{ _id }}" class="chat-profiles">
              <a
                href="/conversations/{{#formatUsername ../user._id first._id second._id first._id }}{{/formatUsername}}">
                <div class="pic">
                  <img src="{{#formatChatPhoto ../user._id first._id second.photo first.photo }}{{/formatChatPhoto}}"
                    class="artwork-image">
                </div>
                <div class="info">
                  <h3 class="title name">
                    {{#formatChatName ../user._id first._id second.name first.name }}{{/formatChatName}}</h3>
                  <p class="bio">
                    {{#each messages }}
                    <p>{{#if @last}}{{ this.content }}{{/if}}</p>
                    {{/each}}
                  </p>
                </div>
              </a>

            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="chatbox">
          <div class="chat-messages clearfix" id="order-messages">
            <div class="no-messages">
              <p>Select a conversation</p>
              <br>
              <p>Start chatting</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>