<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">
      <div class="overview">
        <h2 class="text-center">Enter your artwork details</h2>
        <br>
        <div class="new-artwork-card">
          <form id="artwork-upload-form" enctype='multipart/form-data'>
            <div class="form-group text-center">
              <img id="artwork-cover" class="img-circle"
                src="https://via.placeholder.com/150/000000/FFFFFF/?text=Artwork" />
              <br>
              {{!--               not needed for visual arts --}}
              {{!--               <div class="btn btn-rounded float-left">
                <span>Add photo</span>
                <input id="artwork-cover-upload" type="file" class="form-control" name="artwork_cover">
              </div> --}}
              <div class="btn btn-rounded float-left">
                <span>Upload artwork</span>
                <input id="artwork-media-upload" type="file" class="form-control" name="artwork_media">
              </div>
              <br>
              <label>Artwork title</label>
              <input type="text" class="form-control" placeholder="Title of your artwork" name="artwork_title">
            </div>

            <div class="form-group">
              <label>Artwork price</label>
              <input type="text" class="form-control" placeholder="$50" name="artwork_price">
            </div>

            <div class="form-group">
              <label>Artwork category</label>
              <select class="form-control" name="artwork_category">
                <option value="cw">Creative Writing</option>
                <option value="m">Music</option>
                <option value="va">Visual Arts</option>
              </select>
            </div>

            <div class="form-group">
              <label>Artwork description</label>
              <textarea type="text" class="form-control" placeholder="Describe your artwork"
                name="artwork_about"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>