<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="overview">
        <h2 class="text-center">Enter your gig details</h2>
        <br>
        <div class="new-gig-card">
          <form action="" method="post">
            <div class="form-group">
              <label>Gig title</label>
              <input type="text" class="form-control" placeholder="I will do something" name="gig-title">
            </div>

            <div class="form-group">
              <label>Gig price</label>
              <input type="text" class="form-control" placeholder="$3" name="gig-price">
            </div>

            <div class="form-group">
              <label>Gig category</label>
              <select class="form-control" name="gig-category">
                <option value="">Programming</option>
                <option value="">Website</option>
                <option value="">Design</option>
                <option value="">Marketing</option>
              </select>
            </div>

            <div class="form-group input-group-lg">
              <label>Gig about</label>
              <input type="text" class="form-control" placeholder="Describe your gig" name="gig-about">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>