<div class="hero">
  <div class="container">
    <div class="row">
      <div class="container section">
        <h1>Contact support</h1>
        <div class="row">
          <form id="contact-support-form">
            <input type="text" class="form-control" name="title">
            <textarea class="form-control" name="body"></textarea>
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>