<div class="hero">
  <div class="container">
    <div class="row">
      <div class="container section">
        <h1>Validate license</h1>
        <div class="row">
          <form id="validate-license-form">
            <input type="text" class="form-control" name="fingerprint">
            <input type="text" class="form-control" name="credentials">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>