<div class="container section">
  <h1>
    Visual arts
  </h1>
  <div class="row">
    {{#each artwork}}
    <div class="col-md-3">
      <div class="artwork-card">
        <a href="/artwork-details/{{ _id }}"><img src="{{ cover }}" /></a>
        <h4>
          {{ title }}
        </h4>
        <h3>
          ${{ price }}
        </h3>
      </div>
    </div>
    {{/each}}
  </div>
</div>