<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Total amount:<span class="dollar fee">$<span>{{ amount }}</span></span></h3>
      <br>
      <br>
      <form method="post" id="payment-form">
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>

        <button class="StripeButton">Submit Payment</button>
      </form>
    </div>
  </div>
</div>